* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background: url(https://source.unsplash.com/1600x900/?landscape&_gl=1*o37qo2*_ga*MjEzMTMxMDIwNi4xNjc5NDQwNDAy*_ga_37GXT4VGQK*MTY4NjYxMTM5Ni4xNzguMS4xNjg2NjEyNjEwLjAuMC4w);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.buttons {
    margin: 30px 0;
    display: flex;
    gap: 40px;
}

button {
    padding: 10px;
    font-size: 50px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    transition: opacity 0.5 ease-in-out;
}

button:hover {
    opacity: 0.7;
}

#rock {
    background-color: #a200ff;
}


#paper {
    background-color: #99ee01;
}

#scissors {
    background-color: #7dbeed;
}

p {
    font-weight: bold;
    margin-bottom: 10px;
}

.yourScore span {
    color: rgb(21, 64, 137);
}

.machineScore span {
    color: rgb(224, 71, 15);
}